<div class="landing-umv">
  <div fxLayout="column" fxLayoutAlign="center center" class="landing-header">

    <img class="m-10 logo-sigma" alt="user-image" src="../../../assets/img/app/logo_sigma.png">
    <p class="intro-text">Bienvenido al Sistema de Información Geográfico<br> Misional y de Apoyo SIGMA</p>

    <div fxLayout="row" fxLayoutAlign="center center">
      <a mat-raised-button class="btn-ingresar" (click)="login()">Ingresar</a>
    </div>
  </div>

  <div class="container">

    <div fxLayout="row wrap" class="py-1">

      <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <mat-card>
          <p class="text">Por medio de las herramientas ofrecidas por el sistema, se podrá realizar lo siguiente:</p>
          <ul class="list">
            <li>Apoyar la gestión desde el componente sistémico para la formulación, planeación, programación,
              ejecución, seguimiento de los planes y proyectos de rehabilitación y mantenimiento de la malla vial local
              a cargo de la UMV.</li>
            <li>Apoyar el control y la toma de decisiones oportuna sobre la gestión de la conservación de las vías
              locales.</li>
          </ul>
        </mat-card>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
        <mat-card>
          <p class="text">El sistema está en constante crecimiento. Por tal motivo, este espacio tendrá próximamente
            información relevante, que cambiará según el perfil del usuario identificado, y mostrará datos útiles como:
          </p>
          <ul class="list">
            <li>Tareas pendientes, asignadas al usuario</li>
            <li>Tareas finalizadas</li>
            <li>Detalle y gestión de los mantenimientos</li>
          </ul>
        </mat-card>
      </div>

    </div>


  </div>

  <div class="w-100 footer-bg">
    <div fxLayout="row" fxLayout.lt-md="column" class="landing-footer">
      <div fxFlex="70">
      <span><b>Unidad Administrativa Especial de Rehabilitación y Mantenimiento Vial </b><br>
        <b>Sede Administrativa:</b> Avenida Calle 26 No. 57 – 41, torre 8, piso 7 y 8. PBX: 377 9555.</span>
      </div>  
      <div fxFlex align="end" class="umv-link">  
        <h4><a href="www.umv.gov.co" target="blank">www.umv.gov.co</a></h4>
        <h5>versión:  0.23.25</h5>
      </div>
    </div>
  </div>
</div>|