<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>Transiciones</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="container">
      <div fxFlex="100">
        <form fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px"
          fxLayoutAlign="center">

          <div fxFlex="35">
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.nombre }}" id="nombre" [(ngModel)]="criteria.nombre"
                  name="nombre" type="text" />
              </mat-form-field>
            </div>

          <div fxFlex="35">
            <mat-form-field class="w-100">
              <input matInput placeholder="{{ constants.descripcion }}" id="descripcion"
                [(ngModel)]="criteria.descripcion" name="descripcion" type="text" />
            </mat-form-field>
          </div>

          <div fxFlex="30">
            <button type="submit" mat-raised-button color="primary" class="m-1" (click)="search()" (click)="search()">
              <mat-icon>search</mat-icon> {{ constants.buscar }}
            </button>
            <button (click)="clear()" mat-raised-button color="warn" class="m-1">
              <mat-icon>clear</mat-icon> {{ constants.limpiar }}
            </button>
            <button layout="row" [disabled]="exportOption" mat-raised-button color="primary" class="m-1"
              (click)="exportAsXLSX()" *sigmaIsGranted="constants.permiso_administracion_procesotransicion_export">
              <mat-icon>get_app</mat-icon>
              {{ constants.exportar }}
              <mat-icon *ngIf="cargandoExcel">
                <mat-spinner color="accent" [diameter]="20"></mat-spinner>
              </mat-icon>
            </button>
          </div>
        </form>
      </div>

    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="loader" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="noInfoToShow" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>
    <h4> {{ constants.noResultados}}</h4>
  </div>

  <mat-table #table [dataSource]="listaTransiciones" [hidden]="!noInfoToShow" matSort>

    <ng-container matColumnDef="actividadFinal.nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.actividadFinId }}
      </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.actividadFinId">
        {{ procesotransicion.actividadFinal?.nombre }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actividadInicial.nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.actividadInicioId }}
      </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.actividadInicioId">
        {{ procesotransicion.actividadInicial?.nombre }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="procesotransicion.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!procesotransicion.activo">{{ constants.si }}</span>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.descripcion }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.descripcion">{{procesotransicion.descripcion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.id }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.id">{{procesotransicion.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.nombre }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.nombre">{{procesotransicion.nombre}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="procesoId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.procesoId }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.procesoId">
        {{ procesotransicion.procesoValor }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let procesotransicion" [attr.data-label]="constants.acciones">
        <div fxLayout="column">
          <div fxLayout="row"fxFlex>
            <button mat-raised-button color="primary" (click)="detail(procesotransicion)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_procesotransicion_view">
              <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="documents(procesotransicion)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_procesotransicion_view">
              <mat-icon matTooltip="Cargar documento" matTooltipPosition="above">file_copy</mat-icon>
            </button>
          </div>
          <div fxLayout="row"fxFlex>
            <button mat-raised-button color="primary" (click)="edit(procesotransicion)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_procesotransicion_update">
              <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="delete(procesotransicion)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_procesotransicion_delete">
              <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns" [hidden]="!noInfoToShow"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="listaTransiciones?.filteredData.length" [pageSize]="criteria.size"
    [pageSizeOptions]="[5, 10, 20]" [hidden]="!noInfoToShow" showFirstLastButtons ></mat-paginator>
</div>