<h2 mat-dialog-title>{{ constants.adjuntar }}</h2>

<div class="msj_obligatorio mb-10" fxLayout="row" fxLayoutAlign="start">
    <h5>{{ constants.informacionCampoObligatorio }}</h5>
</div>

<mat-dialog-content [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
        <div fxFlex>
            <sigma-form-upload-file formControlName="adjunto" [(ngModel)]="archivos"
                [placeholder]="'Adjunto'" [accept]="'application/pdf'" [sizeFile]="2"
                [multiple]="true" [errors]="[{name: 'error', message: 'mensaje'}]">
            </sigma-form-upload-file>
        </div>
    </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    <button class="m-1" (click)="onBack()" mat-button color="warn">
        <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
    </button>
    <button class="m-1" [disabled]="disableSubmit" mat-raised-button color="primary"
        (click)="onSubmit()">
        <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
    </button>
</mat-dialog-actions>
