<mat-toolbar color="primary" [fxLayoutAlign]="(settings.menuType != 'mini') ? 'space-between center' : 'center center'" class="sidenav-header">
    <a routerLink="/administracion/dashboard/home">
        <img alt="Logo SIGMA" class="logo-header" src="../../../assets/img/app/logo_header.png">
    </a>
</mat-toolbar>

<perfect-scrollbar #sidenavPS class="sidenav-menu-outer" [class.user-block-show]="settings.sidenavUserBlock">
    <span *ngIf="!menuItems">loading....</span>
    <p-panelMenu
        [model]="items"
        [style]="{'width':'100%'}">
    </p-panelMenu>
</perfect-scrollbar>
