<h2 mat-dialog-title>{{ constants.detalle }}</h2>

<mat-dialog-content *sigmaIsGranted="constants.permiso_administracion_equipocalendario_view">
  <mat-list>
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.activo }}</b>:
        </div>
        <div class="p-tab" fxFlex="60">
          <span class="dev-color-red" [hidden]="equipocalendario.activo">{{ constants.no }}</span>
          <span class="dev-color-green" [hidden]="!equipocalendario.activo">{{ constants.si }}</span>
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.disponibleId }}</b>:
        </div>
        <div fxFlex="60">
          {{ equipocalendario.disponibleValor }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.equipoDisponibilidadId }}</b>:
        </div>
        <div fxFlex="60">
          {{ equipocalendario.equipoDisponibilidadValor }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.fechaFin }}</b>:
        </div>
        <div fxFlex="60">
          {{ equipocalendario.fechaFin }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.fechaInicio }}</b>:
        </div>
        <div fxFlex="60">
          {{ equipocalendario.fechaInicio }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="mb-10">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.id }}</b>:
        </div>
        <div fxFlex="60">
          {{ equipocalendario.id }}
        </div>
      </div>
    </mat-list-item>
    
  </mat-list>
</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button class="m-1" color="warn" (click)="close()"> 
    <mat-icon class="m-1">close</mat-icon>
    {{ constants.cerrar }}
  </button>
</mat-dialog-actions>
