<div fxLayout="column" fxLayout.gt-sm="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card>
      <mat-card-content>
        <div fxLayoutAlign="end">
            <button mat-raised-button color="primary" class="m-1 mb-10" (click)="create();" *sigmaIsGranted="constants.permiso_administracion_planillaoperaciones_create">
              <mat-icon class="m-1">note_add</mat-icon> {{ constants.crearItem }}
            </button>
        </div>
        <sigma-administracion-planillaoperaciones-list *sigmaIsGranted="constants.permiso_administracion_planillaoperaciones_list"></sigma-administracion-planillaoperaciones-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>