<h2 mat-dialog-title>{{ constants.editar }} Tipo Mantenimiento</h2>

<div class="msj_obligatorio mb-10" fxLayout="row" fxLayoutAlign="start">
  <h5>{{ constants.informacionCampoObligatorio }}</h5>
</div>

<mat-dialog-content [formGroup]="form">
  <input type="hidden" formControlName="id" [(ngModel)]="tipomantenimiento.id">

  <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <mat-form-field class="w-100">
          <input matInput placeholder="{{ constants.nombre }}" formControlName="nombre"
            [(ngModel)]="tipomantenimiento.nombre" autocomplete="off" type="text" required>
          <mat-error *ngIf="form.get('nombre').hasError('required')"> {{ constants.campoRequerido }}. </mat-error>
          <mat-error *ngIf="form.get('nombre').hasError('maxlength')"> {{ constants.longitud_maxima }} 100 caracteres.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <sigma-form-select [path]="constants.path_administracion_tipomantenimiento_tipoEquipoId"
          formControlName="tipoEquipo" [(ngModel)]="tipomantenimiento.tipoEquipo"
          placeholder="{{ constants.tipoEquipoId }}">
        </sigma-form-select>
      </div>
    </div>
  </div>
  <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <sigma-form-select [path]="constants.path_administracion_tipomantenimiento_claseMantenimientoId"
          formControlName="claseMantenimiento" [(ngModel)]="tipomantenimiento.claseMantenimiento"
          placeholder="{{ constants.claseMantenimientoId }}" value="0">
        </sigma-form-select>
      </div>
    </div>
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <mat-form-field class="w-100">
          <textarea matInput rows="1" placeholder="{{ constants.descripcion }}"
            [(ngModel)]="tipomantenimiento.descripcion" formControlName="descripcion"
            matTooltip="Descripción del tipo de mantenimiento" matTooltipPosition="above" required></textarea>
          <mat-error *ngIf="form.get('descripcion').hasError('required')"> {{ constants.campoRequerido }}. </mat-error>
          <mat-error *ngIf="form.get('descripcion').hasError('maxlength')"> {{ constants.longitud_maxima }} 600
            caracteres. </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <mat-form-field class="w-100">
          <input matInput placeholder="{{ constants.duracion }}" formControlName="duracion"
            [(ngModel)]="tipomantenimiento.duracion" autocomplete="off" type="text" [numericInput]="true" min="1"
            max="4" required>
          <mat-error *ngIf="form.get('duracion').hasError('required')"> {{ constants.campoRequerido }}. </mat-error>
          <mat-error *ngIf="form.get('duracion').hasError('max')"> {{ constants.longitud_maxima }} 4 caracteres.
          </mat-error>
          <mat-error *ngIf="form.get('duracion').hasError('pattern')"> Solo se permiten valores numericos
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <mat-form-field class="w-100">
          <textarea matInput rows="1" placeholder="{{ constants.procedimiento }}"
            [(ngModel)]="tipomantenimiento.procedimiento" formControlName="procedimiento"
            matTooltip="Procedimiento del tipo de mantenimiento" matTooltipPosition="above" required></textarea>
          <mat-error *ngIf="form.get('procedimiento').hasError('required')"> {{ constants.campoRequerido }}.
          </mat-error>
          <mat-error *ngIf="form.get('procedimiento').hasError('maxlength')"> {{ constants.longitud_maxima }} 2000
            caracteres. </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="item" fxFlex="50%">
      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
        <mat-checkbox formControlName="activo" [(ngModel)]="tipomantenimiento.activo" name="activo" id="activo">
          {{ constants.activo }}
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button type="button" (click)="close()" mat-button color="warn" class="m-1" [disabled]=disableSubmit>
    <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
  </button>
  <button [disabled]=disableSubmit type="button" class="m-1" mat-raised-button color="primary" (click)="onSubmit()">
    <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
  </button>
</mat-dialog-actions>