<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle><h2>Roles</h2></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="100" fxLayout.md="column">
          <form (ngSubmit)="search()" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            
            <div fxFlex="100">
              <mat-form-field class="w-100">
                <input matInput placeholder="Nombre" id="nombre" [(ngModel)]="criteria.nombre" name="nombre" type="text" />
              </mat-form-field>
            </div>

            <div fxFlex="100">
              <mat-form-field class="w-100">
                <input matInput placeholder="Descripción" id="descripcion" [(ngModel)]="criteria.descripcion" name="descripcion" type="text" />
              </mat-form-field>
            </div>

            <div fxFlex="50%">
              <div fxLayoutAlign="start">
                <button type="submit" (click)="search()" mat-raised-button color="primary" class="m-1"><mat-icon>search</mat-icon> Buscar</button>
                <button (click)="Limpiar()" mat-raised-button color="warn" class="m-1"><mat-icon>clear</mat-icon> Limpiar</button>

                <button layout="row" mat-raised-button color="primary" class="m-1"  (click)="exportAsXLSX()"
                 *sigmaIsGranted="constants.administracion_rol_export" [disabled]="dataSource.totalElements$.source['_value'] <= 0">
                  <mat-icon>get_app</mat-icon>
                    {{ constants.exportar }}
                  <mat-icon *ngIf="cargandoExcel"><mat-spinner color="accent" [diameter]="20"></mat-spinner></mat-icon>
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="dataSource.loading$ | async" fxLayout="column" fxLayoutAlign="center center" >
        <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center" >
      <mat-icon class="m-1">sms_failed</mat-icon>  <h4> {{ dataSource.errorMessage$ | async }}</h4>
  </div>
  <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let rol" data-label="Nombre"> {{ rol.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let rol" data-label="Descripción"> {{ rol.descripcion }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Activo </mat-header-cell>
      <mat-cell *matCellDef="let lista" data-label="Activo">
          <span class="dev-color-red" [hidden]="lista.activo">{{ constants.no }}</span>
          <span class="dev-color-green" [hidden]="!lista.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let persona" data-label="Acciones">
        <button  *sigmaIsGranted="constants.administracion_rol_view" mat-raised-button color="primary" (click)="detail(persona)" class="m-1">
          <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
        </button>
        <button *sigmaIsGranted="constants.administracion_rol_update" mat-raised-button color="primary" (click)="edit(persona)" class="m-1">
          <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
        </button>
        <button *sigmaIsGranted="constants.administracion_rol_delete" mat-raised-button color="warn" (click)="delete(persona)" class="m-1">
          <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]= "dataSource.totalElements$ | async" [pageSize]="criteria.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>
