<mat-card-content>
  <div fxLayoutAlign="end">
    <button mat-raised-button color="primary" class="m-1 mb-10" (click)="create();">
      <mat-icon class="m-1">note_add</mat-icon> {{ constants.agregar }}
    </button>
  </div>
</mat-card-content>

<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>{{ constants.consultar }}</h2>
      </mat-card-subtitle>
    </mat-card-header>
  </div>
</div>

<div class="container">
  <div *ngIf="loader" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="noInfoToShow" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>
    <h4> {{ constants.noResultados}}</h4>
  </div>

  <mat-table #table [dataSource]="listaDocumentos" [hidden]="!loader" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let documentos" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="documentos.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!documentos.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="tipoDocumento">
      <mat-header-cell *matHeaderCellDef> {{ constants.tipoDocumento }} </mat-header-cell>
      <mat-cell *matCellDef="let documentos" [attr.data-label]="constants.tipoDocumento">
        {{documentos.tipoDocumento?.descripcion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="archivoId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.archivo }} </mat-header-cell>
      <mat-cell *matCellDef="let formato" [attr.data-label]="constants.archivo">
        <sigma-show-file id="{{ formato.archivo?.id }}"></sigma-show-file>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let documentos" [attr.data-label]="constants.acciones">
        <button mat-raised-button color="primary" (click)="edit(documentos)" class="m-1">
          <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="delete(documentos)" class="m-1">
          <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns" [hidden]="!loader"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="lengthList" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" [hidden]="!loader" showFirstLastButtons ></mat-paginator>
</div>
