<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle><h2>Mensajes</h2></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxFlex="100">
        <form >
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <mat-form-field fxFlex class="w-100">
              <input matInput [matDatepicker]="datePickerFechaInicio" [max]="criteria.fechaFinTemp <= rangeDates.max?criteria.fechaFinTemp:rangeDates.max " placeholder="{{ constants.fechaInicio }}" [(ngModel)]="criteria.fechaInicioTemp" 
              id="fechainicio" name="fechainicio" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="datePickerFechaInicio" ></mat-datepicker-toggle>
              <mat-datepicker #datePickerFechaInicio></mat-datepicker>
            </mat-form-field>    

            <mat-form-field fxFlex class="w-100">
              <input  [matDatepicker]="datePickerFechaFin" [min]="criteria.fechaInicioTemp" [max]="rangeDates.max" matInput placeholder="{{ constants.fechaFin }}" [(ngModel)]="criteria.fechaFinTemp" 
              id="fechafin" name="fechafin" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="datePickerFechaFin"></mat-datepicker-toggle>
              <mat-datepicker #datePickerFechaFin></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex class="w-100">
              <mat-select  id="leido" name="leido" placeholder="{{ constants.estado }}" [(ngModel)]="criteria.leido">
                  <mat-option value=""> Todos </mat-option>
                <mat-option value="1"> Leído </mat-option>
                <mat-option value="0"> Sin leer </mat-option>
                <!-- <mat-option value="framename"> Framename </mat-option> -->
              </mat-select>
          </mat-form-field>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
              <mat-form-field class="w-100">
              <input
                matInput placeholder="{{ constants.mensaje }}" id="mensaje"
                [(ngModel)]="criteria.mensaje" name="mensaje"
                type="text"
              />
              </mat-form-field>
            </div>

            <div fxFlex>
              <button type="submit"  mat-raised-button color="primary"  class="m-1"(click)="search()" >
                <mat-icon>search</mat-icon> {{ constants.buscar }}
              </button>
              <button (click)="clear()" mat-raised-button color="warn" class="m-1">
                <mat-icon>clear</mat-icon> {{ constants.limpiar }}
              </button>
              <button mat-raised-button color="primary" class="m-1"  (click)="exportAsXLSX()"
              *sigmaIsGranted="constants.permiso_administracion_mensaje_export">
                <mat-icon>get_app</mat-icon>
                {{ constants.exportar }}
                <mat-icon *ngIf="cargandoExcel"><mat-spinner color="accent" [diameter]="20"></mat-spinner></mat-icon>
              </button>
            </div>
          
          </div>
     
        </form>
      </div>
    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="dataSource.loading$ | async" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>  <h4> {{dataSource.errorMessage$ | async}}</h4>
  </div>

  <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>
    
    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="mensaje.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!mensaje.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="destinatarioId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.destinatarioId }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.destinatarioId ">
        {{ mensaje.destinatarioValor }}
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="fechaRegistro">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.fechaRegistro }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.fechaRegistro">
        {{mensaje.fechaRegistro}}
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.id }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.id">
        {{mensaje.id}}
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="leido">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.estado }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.estado">
        <span *ngIf="mensaje.leido == 1">{{ constants.leido }}</span>
        <button *ngIf="mensaje.leido == 0" mat-raised-button color="primary" (click)="leido(mensaje)" class="m-1">
         <!-- <mat-icon>done_outline</mat-icon> -->
         Cerrar
        <!-- <button [hidden]="mensaje.leido" mat-raised-button color="warn" (click)="check(mensaje)" class="m-1"
        *sigmaIsGranted="constants.permiso_administracion_mensaje_edit">
        {{ constants.no_leido }} <mat-icon>done_outline</mat-icon> -->
      </button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="mensaje">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.mensaje }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.mensaje">
        {{mensaje.mensaje}}
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="origen">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.origen }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.origen">
        {{mensaje.origen}}
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let mensaje" [attr.data-label]="constants.acciones">

        <!-- <button mat-raised-button color="warn" (click)="check(mensaje)" class="m-1"
          *sigmaIsGranted="constants.permiso_administracion_mensaje_edit">
          <mat-icon>done_outline</mat-icon>
        </button> -->
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]= "dataSource.totalElements$ | async" [pageSize]="criteria.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>
