<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>

<div [hidden]="processing">

  <div [hidden]="currentAction !== 'list'">
    <div fxLayout=" column">
      <div fxFlex="100" class="w-100">
        <!-- <mat-card> -->
          <mat-card-content>
            <div>
              <mat-tab-group [selectedIndex]="tabSeleccionado.value" (selectedIndexChange)="seleccionarGrid($event)">
                <mat-tab *ngFor="let transicion of transicionesMasivas" label="{{transicion.nombre}}">
                  <sigma-grid-mantenimientos #grid [data]="data" [transicion]="transicion" [columns]="columns"
                    [filters]="filters" (executeOnSingle)="ejecutar($event)"
                    (executeOnMasiveTransition)="executeMasiveTransition($event)" [showActividadAgrupada]="false"
                    [showKmCarril]="false" [showCheckMasive]="true" [singleActions]="acciones">
                  </sigma-grid-mantenimientos>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-card-content>
        <!-- </mat-card> -->
      </div>
    </div>
  </div>

  <!-- Seccion Validar Solicitud de Soportes -->
  <div *ngIf="currentAction == 'solicitudSoportes'">

    <mat-card-content class="p-16 m-0">

      <div class="mb-10" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
        fxLayoutAlign="left">

        <div fxFlex="100">
          <mat-card class="custom-card">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0">
                <h5>Requiere soportes?</h5>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-16">
              <div fxLayout="column">
                <div fxFlex="100">

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex>
                      <div class="w-100">
                        <mat-checkbox [(ngModel)]="visitaPredisenoModel.levantamientoTopografico"
                          name="levantamientoTopografico" id="levantamientoTopografico"
                          [checked]="visitaPredisenoModel.levantamientoTopografico">
                          Levantamiento topogr&aacute;fico
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex>
                      <div class="w-100">
                        <mat-checkbox [(ngModel)]="visitaPredisenoModel.modulacionLosas" name="modulacionLosas"
                          id="modulacionLosas" [checked]="visitaPredisenoModel.modulacionLosas">
                          Cambio de losas
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex>
                      <div class="w-100">
                        <mat-checkbox [(ngModel)]="visitaPredisenoModel.fichaEvaluacion" name="fichaEvaluacion"
                          id="fichaEvaluacion" [checked]="visitaPredisenoModel.fichaEvaluacion">
                          Ficha de Evaluaci&oacute;n
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex>
                      <div class="w-100">
                        <mat-checkbox [(ngModel)]="visitaPredisenoModel.informacionDiseno" name="informacionDiseno"
                          id="informacionDiseno" [checked]="visitaPredisenoModel.informacionDiseno">
                          Informaci&oacute;n de Dise&ntilde;o
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex>
                      <div class="w-100">
                        <mat-checkbox [(ngModel)]="visitaPredisenoModel.consultaRedes" name="consultaRedes"
                          id="consultaRedes" [checked]="visitaPredisenoModel.consultaRedes">
                          Consulta de Redes
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button mat-button color="warn" (click)="cancel()">
          <mat-icon class="m-1">close</mat-icon>
          Cancelar
        </button>
        <button [disabled]="processing" mat-raised-button color="primary" (click)="save()">
          <mat-icon class="m-1">save</mat-icon>
          Guardar
        </button>
      </div>
    </mat-card-content>
  </div>

  <div *ngIf="currentAction=='work'">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxLayoutAlign="start" fxFlex>
        <button mat-stroked-button color="primary" class="m-1 mb-10" (click)="back()">
          <mat-icon>arrow_back_ios</mat-icon>
          Ir Atrás 
        </button>
      </div>
    </div>

    <sigma-ver-diagnostico [mantenimiento]="mantenimiento"
    [mostrarButtonsBackCancelar]="false">  </sigma-ver-diagnostico>
    
    <div fxLayoutAlign="end">
      <mat-divider></mat-divider>
      <div class="pt-16">
        <button mat-button color="warn" class="m-1" (click)="back()">
          <mat-icon class="m-1">close</mat-icon> Cancelar
        </button>
      </div>
    </div>

  </div>

</div>