<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>{{ constants.crear }} Disponibilidad personas</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <div class="msj_obligatorio mb-10" fxLayout="row" fxLayoutAlign="start">
        <h5>{{ constants.informacionCampoObligatorio }}</h5>
      </div>

      <mat-card-content class="p-16 m-0" [formGroup]="form"
        *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_create">

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div fxFlex>
            <div class="w-100">
              <sigma-form-autocomplete [path]="constants.path_administracion_personadisponibilidad_personaId"   
                [placeholder]="constants.personaId" [searchBy]="'nombres'" [moreInfo]="{nombres: 'Nombre', apellidos: 'Apellido'}"
                formControlName="persona" [(ngModel)]="personadisponibilidad.persona"  (ngModelChange)="onChangeAutocompleteForm($event)" >
              </sigma-form-autocomplete>
            </div>
          </div>

          <div fxFlex>
            <div class="w-100">
              <sigma-form-calendar formControlName="fechaDesde"   [maxTarget]="'fechaHasta'" [(ngModel)]="personadisponibilidad.fechaDesde"
                [type]="this.constants.datepicker.types.calendar" [objeto]="personadisponibilidad" [placeholder]="constants.fechaDesde" >
              </sigma-form-calendar>             
            </div>
          </div>

          <div fxFlex>
            <sigma-form-calendar formControlName="fechaHasta"   [minTarget]="'fechaDesde'" [(ngModel)]="personadisponibilidad.fechaHasta"
              [type]="this.constants.datepicker.types.calendar" [objeto]="personadisponibilidad" [placeholder]="constants.fechaHasta">
            </sigma-form-calendar>             
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div fxFlex>              
            <div class="w-100">
              <sigma-form-calendar formControlName="intervalo" [(ngModel)]="personadisponibilidad.intervalo"
                [placeholder]="constants.intervalo" [type]="constants.datepicker.types.timer">
              </sigma-form-calendar>
            </div>
          </div>

          <div fxFlex>
            <div class="w-100">
              <sigma-form-select 
                formControlName="turnoId"
                [(ngModel)]="personadisponibilidad.turno"
                [path]="constants.path_administracion_personadisponibilidad_turnoId"
                [placeholder]="constants.placeHolderTurno">
              </sigma-form-select>
            </div>
          </div>

        </div>
        
        <!-- <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider> -->
        
        <button type="button" [disabled]="!this.calendariocompletado" (click)="mostrar = !mostrar" mat-raised-button
          color="primary" class="m-1">{{ mostrar ? 'Ocultar' : 'Disponibilidad' }}
          <mat-icon *ngIf="this.cargandoDisponibilidad">
            <mat-spinner color="accent" [diameter]="20"></mat-spinner>
          </mat-icon>
        </button>

        <sigma-schedule (viewDateChange)="getEventMonthChanged($event)" *ngIf="mostrar" [listaCalendario]="events" ></sigma-schedule>
        
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button mat-button class="m-1" color="warn" (click)="onBack()">
          <mat-icon class="m-1">close</mat-icon>
          {{ constants.cancelar }}
        </button>
        <button mat-raised-button class="m-1" color="primary" [disabled]="disableSubmit" (click)="onSubmit()"
          *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_create">
          <mat-icon class="m-1">save</mat-icon>
          {{ constants.guardar }}
        </button>
      </div>
    </mat-card>
  </div>
</div>