<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle><h2>Disponibilidad personas</h2></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxFlex>
        <form fxLayout="column" (ngSubmit)="search()">

          <div fxFlex="100">
            <sigma-form-autocomplete [(ngModel)]="criteria.persona" [ngModelOptions]="{standalone: true}"  [moreInfo]="{nombres: 'Nombre', apellidos: 'Apellido'}"
              [searchBy]="'nombres'"  [path]="constants.path_administracion_personadisponibilidad_personaId" [placeholder]="constants.personaId" type="text">
            </sigma-form-autocomplete>
          </div>
        </form>
      </div>
      <div fxFlex>
        <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex fxLayoutAlign="end">
          <button fxFlex.sm="50" fxFlex.xs="50" type="submit" mat-raised-button color="primary" class="m-1"(click)="search()" >
            <mat-icon>search</mat-icon> {{ constants.buscar }}
          </button>
          <button fxFlex.sm="50" fxFlex.xs="50" (click)="clear()" mat-raised-button color="warn" class="m-1">
            <mat-icon>clear</mat-icon> {{ constants.limpiar }}
          </button>
        </div>
        <div fxFlex>
          <button fxFlex.sm="50" fxFlex.xs="50" [disabled]="dataSource.totalElements$.source['_value'] <= 0"
          layout="row" mat-raised-button color="primary" class="m-1" (click)="exportAsXLSX()"
          *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_export">
            <mat-icon>get_app</mat-icon>
            {{ constants.exportar }}
            <mat-icon *ngIf="cargandoExcel"><mat-spinner color="accent" [diameter]="20"></mat-spinner></mat-icon>
          </button>
          <button fxFlex.sm="50" fxFlex.xs="50" mat-raised-button color="primary" class="m-1" (click)="importar()">
            <mat-icon >cloud_upload</mat-icon>
            Importar
          </button>
        </div>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="dataSource.loading$ | async" fxLayout="column" fxLayoutAlign="center center" >
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>  <h4> {{dataSource.errorMessage$ | async}}</h4>
  </div>

  <mat-table class="col-x" #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort >

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="personadisponibilidad.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!personadisponibilidad.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaDesde">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.fechaDesde }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.fechaDesde">{{personadisponibilidad.fechaDesde}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaHasta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.fechaHasta }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.fechaHasta">{{personadisponibilidad.fechaHasta}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.id }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad">{{personadisponibilidad.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="intervalo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.intervalo }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.intervalo">{{personadisponibilidad.intervalo}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="personaId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.personaId }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.personaId">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.id : ''  }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoAsignacionId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.tipoAsignacionId }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.tipoAsignacionId">
        {{ personadisponibilidad.tipoAsignacion ? personadisponibilidad.tipoAsignacion.valor : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="turnoId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.turnoId }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.turnoId">
        {{ personadisponibilidad.turno ? personadisponibilidad.turno.descripcion : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persona.categoriaPersona.valor">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.categoria }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.categoria">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.categoriaPersona.valor : ''  }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persona.nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.nombre }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.nombre">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.nombres  + ' ' + personadisponibilidad.persona.apellidos : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persona.identificacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.identificacion }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.identificacion">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.identificacion : ''  }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persona.areaUmv.valor">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.area }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.area">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.areaUmv.descripcion : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="persona.cargo.valor">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="false"> {{ constants.cargo }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.cargo">
        {{ personadisponibilidad.persona ? personadisponibilidad.persona.cargo.descripcion : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let personadisponibilidad" [attr.data-label]="constants.acciones">
        <button mat-raised-button  color="primary" (click)="detail(personadisponibilidad)" class="m-1"
          *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_view">
          <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="edit(personadisponibilidad)" class="m-1"
          *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_update">
          <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="delete(personadisponibilidad)" class="m-1"
          *sigmaIsGranted="constants.permiso_administracion_personadisponibilidad_delete">
          <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]= "dataSource.totalElements$ | async" [pageSize]="criteria.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>