<div [hidden]="!visible">
        <div [hidden]="mapaOculto">
                <div #mapViewNode>
                        <div *ngIf="activarRuteo">
                                <input id="ruteoBtn" type="button" [value]="titleCalcularRuta" *ngIf="ruteoVisibleBtn"
                                        style="position: absolute; z-index: 1000; top:22px; left: 90px; float: right; width: 100px; border: 1px solid #999fa2;"
                                        (click)="ruteoInicioFinal()" class="esri-button esri-widget--button" />
                        </div>
                </div>
        </div>
</div>