<div>
    <div>
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>Mi Gestión</h2>
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <form clasa="w-100" (ngSubmit)="search()">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.pk }}" id="pk" [(ngModel)]="criteria.pk"
                  name="pk" type="text" />
              </mat-form-field>
            </div>
  
            <div fxFlex>
              <sigma-form-select [path]="constants.path_administracion_migestion_actividadId"
                [(ngModel)]="criteria.actividadActual" name="actividadActual" placeholder="{{ constants.actividadActual }}" [listBy]="'nombre'">
              </sigma-form-select>
            </div>
  
            <div fxFlex>
                <sigma-form-select [path]="constants.path_administracion_migestion_estadoPk"
                  [(ngModel)]="criteria.estadoPk" name="estadoPk" placeholder="{{ constants.estadoPk }}" [listBy]="'descripcion'" > 
                </sigma-form-select>
            </div>
          </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
                <sigma-form-calendar 
                    [objeto]="criteria"
                    [(ngModel)]="criteria.fechaDesde"
                    [type]="'calendar'" 
                    [placeholder]="'Fecha Desde'"
                    [maxTarget]="'fechaHasta'" 
                    [ngModelOptions]="{standalone: true}">
                </sigma-form-calendar>
            </div>
            
            <div fxFlex>
                <sigma-form-calendar 
                    [objeto]="criteria"
                    [(ngModel)]="criteria.fechaHasta"
                    [type]="'calendar'" 
                    [placeholder]="'Fecha Hasta'"
                    [minTarget]="'fechaDesde'" 
                    [ngModelOptions]="{standalone: true}">
                </sigma-form-calendar>
            </div>
        </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
              <button type="submit" mat-raised-button color="primary" class="m-1" (click)="search()">
                <mat-icon>search</mat-icon> {{ constants.buscar }}
              </button>
              <button (click)="clear()" mat-raised-button color="warn" class="m-1">
                <mat-icon>clear</mat-icon> {{ constants.limpiar }}
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </div>
  </div>

<div class="mat-elevation-z8">
    <div *ngIf="(dataSource.loading$ | async)" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>

    <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="m-1">sms_failed</mat-icon>
        <h4> {{dataSource.errorMessage$ | async}}</h4>
    </div>

    <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>

        <ng-container matColumnDef="pk">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{constants.pk}} </mat-header-cell>
          <mat-cell *matCellDef="let dataSource" [attr.data-label]="constants.pk">
            {{ dataSource.pk }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actividadActual">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{constants.actividadActual}} </mat-header-cell>
          <mat-cell *matCellDef="let dataSource" [attr.data-label]="constants.actividadActual">
            {{ dataSource.actividadActual == null ? '' : dataSource.actividadActual.descripcion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaAsignacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{constants.fecha}} </mat-header-cell>>
          <mat-cell *matCellDef="let dataSource" [attr.data-label]="constants.fecha">
            {{ dataSource.fechaAsignacion == null ? '' : dataSource.fechaAsignacion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estadoPk">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{constants.estadoPk}} </mat-header-cell>
          <mat-cell *matCellDef="let dataSource" [attr.data-label]="constants.estadoPk">
            {{ dataSource.estadoPk == null ? '' : dataSource.estadoPk.descripcion }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
          <mat-cell *matCellDef="let dataSource" [attr.data-label]="constants.acciones">
              <button mat-raised-button color="primary" (click)="work(dataSource)" class="m-1">
                  <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
              </button>
          </mat-cell>
        </ng-container>

        <!-- <mat-header-row *matHeaderRowDef="columns"></mat-header-row> -->
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]= "dataSource.totalElements$ | async" [pageSize]="criteria.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div> 

            
       