<div class="p-flex">
  <mat-card class="p-0 c-mod">
    <div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>

    <div *ngIf="!processing">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h3>{{title}}</h3>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="p-16 m-0">
        <div fxFlex fxLayoutAlign="center center" class="chart-container">
          <canvas class="tablero-control-chart" id="canvas{{idChart}}"></canvas>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>