<h2 mat-dialog-title>{{ constants.detalle }} Estructura</h2>

<mat-dialog-content *sigmaIsGranted="constants.permiso_administracion_tipocargueestructura_view">
  <mat-list>
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.campo }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.campo }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.descripcion }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.descripcion }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item mb-10">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.requeridoId }}</b>:
        </div>
        <div class="p-tab" fxFlex="60">
          <span class="dev-color-red" [hidden]="tipocargueestructura.requerido">{{ constants.no }}</span>
          <span class="dev-color-green" [hidden]="!tipocargueestructura.requerido">{{ constants.si }}</span>
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.tipoDatoId }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.tipoDato ? tipocargueestructura.tipoDato.valor : '' }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.longitudMaxima }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.longitudMaxima }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.numeroMinimo }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.numeroMinimo }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex>
            <b>{{ constants.numeroMaximo }}</b>:
          </div>
          <div fxFlex="60">
            {{ tipocargueestructura.numeroMaximo }}
          </div>
        </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.fechaMinima }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.fechaMinima }}
        </div>
      </div>
    </mat-list-item>
    
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex>
            <b>{{ constants.fechaMaxima }}</b>:
          </div>
          <div fxFlex="60">
            {{ tipocargueestructura.fechaMaxima }}
          </div>
        </div>
      </mat-list-item>
      
    <mat-list-item class="detail-item">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.listaId }}</b>:
        </div>
        <div fxFlex="60">
          {{ tipocargueestructura.lista ? tipocargueestructura.lista.nombre : '' }}
        </div>
      </div>
    </mat-list-item>
      
    <mat-list-item class="mb-10">
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex>
          <b>{{ constants.activo }}</b>:
        </div>
        <div class="p-tab" fxFlex="60">
          <span class="dev-color-red" [hidden]="tipocargueestructura.activo">{{ constants.no }}</span>
          <span class="dev-color-green" [hidden]="!tipocargueestructura.activo">{{ constants.si }}</span>
        </div>
      </div>
    </mat-list-item>     
  </mat-list>
</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon> {{ constants.cerrar }}
  </button>
</mat-dialog-actions>