

<div fxLayout="column" fxLayout.gt-sm="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card>
      <mat-card-content>
        <div fxLayoutAlign="end">
            <button mat-raised-button color="primary" class="m-1 mb-10" (click)="create();"
            *sigmaIsGranted="constants.permiso_produccion_registrar_vale_planta_create"><mat-icon class="m-1">note_add</mat-icon> {{ constants.crearNuevo }}</button>
        </div>
        <sigma-produccion-registrar-vale-planta-list *sigmaIsGranted="constants.permiso_produccion_registrar_vale_planta_list"></sigma-produccion-registrar-vale-planta-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
