<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>Usuarios</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form fxLayout="column" fxFlex="100">
        <div fxFlex="100">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxFlex="100">
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.nombres }}" id="nombres" [(ngModel)]="criteria.nombres"
                  name="nombres" type="text" />
              </mat-form-field>
            </div>
            <div fxFlex="100">
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.apellidos }}" id="apellidos" [(ngModel)]="criteria.apellidos"
                  name="apellidos" type="text" />
              </mat-form-field>
            </div>
            <div fxFlex="100">
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.identificacion }}" id="identificacion"
                  [(ngModel)]="criteria.identificacion" name="identificación" type="text" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div fxFlex="50">
          <button type="submit" mat-raised-button color="primary" class="m-1" (click)="search()">
            <mat-icon>search</mat-icon> {{ constants.buscar }}
          </button>
          <button (click)="clear()" mat-raised-button color="warn" class="m-1">
            <mat-icon>clear</mat-icon> {{ constants.limpiar }}
          </button>
          <button layout="row" [disabled]="dataSource.totalElements$.source['_value'] <= 0" mat-raised-button color="primary"
            class="m-1" (click)="exportAsXLSX()" *sigmaIsGranted="constants.permiso_administracion_usuario_export">
            <mat-icon>get_app</mat-icon>
            {{ constants.exportar }}
            <mat-icon *ngIf="cargandoExcel">
              <mat-spinner color="accent" [diameter]="20"></mat-spinner>
            </mat-icon>
          </button>
        </div>

      </form>

    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="dataSource.loading$ | async" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>
  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>
    <h4> {{dataSource.errorMessage$ | async}}</h4>
  </div>

  <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>

    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.nombre }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.nombre">{{ usuario.nombres }} {{ usuario.apellidos }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="correoElectronico">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.correoElectronico }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.correoElectronico">{{usuario.correoElectronico}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="identificacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.identificacion }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.identificacion">{{usuario.identificacion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.login }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.login">{{usuario.usuario}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="origenId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.origenId }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.origenId">
        {{ usuario.origen ? usuario.origen.descripcion : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> {{ constants.estado }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.estado">
        {{ usuario.estado ? usuario.estado.descripcion : '' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="usuario.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!usuario.activo">{{ constants.si }}</span>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let usuario" [attr.data-label]="constants.acciones">
        <div fxLayout.lt-md="row" fxLayout.lt-xl="column">
          <div fxFlex>
            <button mat-raised-button color="primary" (click)="detail(usuario)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_usuario_view">
              <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="edit(usuario)" class="m-1"
              *sigmaIsGranted="constants.permiso_administracion_usuario_update">
              <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
            </button>
          </div>
          <div fxFlex>
            <div fxLayout="row">
              <div *sigmaIsGranted="constants.permiso_administracion_usuario_update">
                  <button mat-raised-button color="primary" (click)="changePassword(usuario)" class="m-1"
                  *ngIf="showChangePassword(usuario)">
                  <mat-icon matTooltip="Cambiar clave" matTooltipPosition="above">vpn_key</mat-icon>
                </button>
              </div>
              <button mat-raised-button color="warn" (click)="delete(usuario)" class="m-1"
                *sigmaIsGranted="constants.permiso_administracion_usuario_delete">
                <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.totalElements$ | async" [pageSize]="criteria.size"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>