.user-menu{
    .mat-toolbar, .mat-toolbar-row{
        height: auto !important;
        min-width: 150px;      
    }
    .user-info{
        max-width: 200px!important;   
        h4{
            font-size: 14px!important;
            line-height: 18px!important;
            white-space: normal!important;                    
        }
    }
    .mat-menu-item{
        height: 36px;
        line-height: 36px;
    }
}