<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>
<div fxLayout="column" fxLayout.gt-sm="row wrap" class="fixed-seccion">
  <div fxFlex="100" class="flex-p">
    <div class="container" *ngIf="mantenimientoActividad">
      <mat-card>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-subtitle>
            <h2>{{mantenimientoActividad.actividad.nombre}}</h2>
          </mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="formulario">
          <app-formulario-viewer  #formViewer [formulario]="formulario" [accion] ="accion">            
          </app-formulario-viewer>
        </div>
      </mat-card>
    </div>
  </div>
</div>
