<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>Condiciones</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="container">
      <div fxFlex="100">
        <form fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="10px"
          fxLayoutAlign="center">
          <div fxFlex="35">
            <mat-form-field class="w-100">
              <input matInput placeholder="{{ constants.descripcion }}" id="descripcion"
                [(ngModel)]="criteria.descripcion" name="descripcion" type="text" />
            </mat-form-field>
          </div>

          <div fxFlex="35">
            <mat-form-field class="w-100">
              <input matInput placeholder="{{ constants.nombre }}" id="nombre" [(ngModel)]="criteria.nombre"
                name="nombre" type="text" />
            </mat-form-field>
          </div>

          <div fxFlex="30">
            <button type="submit" mat-raised-button color="primary" class="m-1" (click)="search()">
              <mat-icon>search</mat-icon> {{ constants.buscar }}
            </button>
            <button (click)="Limpiar()" mat-raised-button color="warn" class="m-1">
              <mat-icon>clear</mat-icon> {{ constants.limpiar }}
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="(dataSource.loading$ | async)" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>

  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>
    <h4> {{dataSource.errorMessage$ | async}}</h4>
  </div>

  <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let grupo" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="grupo.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!grupo.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.descripcion }} </mat-header-cell>
      <mat-cell *matCellDef="let grupo" [attr.data-label]="constants.descripcion">
        {{grupo.descripcion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.nombre }} </mat-header-cell>
      <mat-cell *matCellDef="let grupo" [attr.data-label]="constants.nombre">
        {{grupo.nombre}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let condicion" [attr.data-label]="constants.acciones">
        <button mat-raised-button color="primary" (click)="edit(condicion)" class="m-1"
          *sigmaIsGranted="constants.administracion_transicioncondiciones_update">
          <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="delete(condicion)" class="m-1"
          *sigmaIsGranted="constants.administracion_transicioncondiciones_delete">
          <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.totalElements$ | async" [pageSize]="criteria.size"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
</div>