
<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>

<div>

  <div>
    <div>
      <mat-card-header fxLayoutAlign="center" class="mb-10">
        <mat-card-subtitle>
          <h2>Hist&oacute;rico Documentos Pk {{mantenimiento.pk}}</h2>
        </mat-card-subtitle>
      </mat-card-header>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <!--<div *ngIf="dataSource.loading$ | async" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>
    <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="m-1">sms_failed</mat-icon>
      <h4> {{ dataSource.errorMessage$ | async }}</h4>
    </div>
    <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>-->
      <mat-table #table [dataSource]="listDocumentos"  matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.id }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento; index as i" [attr.data-label]="constants.id">
          {{mantenimientoDocumento.id}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.fecha }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.fecha">
          {{ mantenimientoDocumento.fecha }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.nombre }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.nombre">
          {{ mantenimientoDocumento.documento.nombre }}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.version }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.version">
          {{ mantenimientoDocumento.documento.version }}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="autor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.autor }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.autor">
          {{ mantenimientoDocumento.documento.autor }}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="estadoDocumento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.estadoDoc }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.estadoDoc">
          {{ mantenimientoDocumento.documento.estadoDocumento.descripcion }}
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
        <mat-cell *matCellDef="let mantenimientoDocumento" [attr.data-label]="constants.acciones">
          <div>
            <button mat-raised-button color="primary" (click)="exportarPDF(mantenimientoDocumento)" class="m-1">
              <mat-icon matTooltip="Exportar" matTooltipPosition="above">cloud_download</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns"></mat-row>

    </mat-table>
    <mat-paginator #paginator [length]= "lengthList" [pageSize]="criteria.size" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

  </div>
</div>
