<div>
  <div>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>{{ constants.listas }}</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutWrap fxLayoutGap="0.5%"
      fxLayoutAlign="center">
      <div fxFlex="50%">
        <form fxLayout="column" (ngSubmit)="search()">
          <mat-form-field class="w-50">
            <input matInput [placeholder]="constants.nombre" id="nombre" [(ngModel)]="criteria.nombre" name="nombre" />
          </mat-form-field>
        </form>
      </div>

      <div fxFlex="50%">
        <div fxLayoutAlign="start">
          <button type="submit" mat-raised-button color="primary" class="m-1" (click)="search()">
            <mat-icon>search</mat-icon> {{ constants.buscar }}
          </button>
          <button (click)="Limpiar()" mat-raised-button color="warn" class="m-1">
            <mat-icon>clear</mat-icon> {{ constants.limpiar }}
          </button>
          <button *sigmaIsGranted="constants.permisos_administracion_listas_export" type="submit" mat-raised-button
            [disabled]="dataSource.totalElements$.source['_value'] <= 0" color="primary" class="m-1"
            (click)="exportAsXLSX()">
            <mat-icon>get_app</mat-icon> {{ constants.exportar }}
            <mat-icon *ngIf="cargandoExcel">
              <mat-spinner color="accent" [diameter]="20"></mat-spinner>
            </mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </div>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="(dataSource.loading$ | async)" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>

  <div *ngIf="dataSource.error$ | async" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon class="m-1">sms_failed</mat-icon>
    <h4> {{dataSource.errorMessage$ | async}}</h4>
  </div>

  <mat-table #table [dataSource]="dataSource" [hidden]="dataSource.loading$" matSort>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.nombre }} </mat-header-cell>
      <mat-cell *matCellDef="let lista" [attr.data-label]="constants.nombre"> {{ lista.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.descripcion }} </mat-header-cell>
      <mat-cell *matCellDef="let lista" [attr.data-label]="constants.descripcion"> {{lista.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.activo }} </mat-header-cell>
      <mat-cell *matCellDef="let listasItems" [attr.data-label]="constants.activo">
        <span class="dev-color-red" [hidden]="listasItems.activo">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!listasItems.activo">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deSistema">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.deSistema }} </mat-header-cell>
      <mat-cell *matCellDef="let listasItems" [attr.data-label]="constants.deSistema">
        <span class="dev-color-red" [hidden]="listasItems.deSistema">{{ constants.no }}</span>
        <span class="dev-color-green" [hidden]="!listasItems.deSistema">{{ constants.si }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
      <mat-cell *matCellDef="let lista" [attr.data-label]="constants.acciones">
        <button mat-raised-button *sigmaIsGranted="constants.permisos_administracion_listas_view" color="primary"
          (click)="detail(lista)" class="m-1">
          <mat-icon matTooltip="Detalles" matTooltipPosition="above">open_in_new</mat-icon>
        </button>
        <button mat-raised-button *sigmaIsGranted="constants.permisos_administracion_listas_update" color="primary"
          (click)="edit(lista)" class="m-1">
          <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
        </button>
        <div *ngIf="!lista.deSistema">
          <button [disabled]="lista.activo === false" mat-raised-button *sigmaIsGranted="constants.permisos_administracion_listas_delete" color="warn"
            (click)="delete(lista)" class="m-1">
            <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: columns"></mat-row>
  </mat-table>
  <mat-paginator #paginator [length]="dataSource.totalElements$ | async" [pageSize]="criteria.size"
    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>