<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle><h2>{{ constants.crear }} Evento</h2></mat-card-subtitle>
      </mat-card-header>

      <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="start">
        <h5>{{ constants.informacionCampoObligatorio }}</h5>
      </div>

      <mat-card-content class="p-16 m-0" [hidden]="submitted" [formGroup]="form" *sigmaIsGranted="constants.permiso_administracion_evento_create" >
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
            <div class="item" fxFlex="50%">
                <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
                  <sigma-form-input [placeholder]="constants.nombre" formControlName="nombre" 
                  [(ngModel)]="evento.nombre" ></sigma-form-input>
                </div>
              </div>
          <div class="item" fxFlex="50%">
            <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
              <sigma-form-input [placeholder]="constants.descripcion" formControlName="descripcion" 
              [(ngModel)]="evento.descripcion" ></sigma-form-input>
            </div>
          </div>
          
        </div>
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button mat-button class="m-1" color="warn" (click)="onBack()">
          <mat-icon class="m-1">close</mat-icon>
          {{ constants.cancelar }}
        </button>
        <button mat-raised-button class="m-1" color="primary" [disabled]="disableSubmit" (click)="onSubmit()"
        *sigmaIsGranted="constants.permiso_administracion_evento_create">
          <mat-icon class="m-1">save</mat-icon>
          {{ constants.guardar }}
        </button>
      </div>
    </mat-card>
  </div>
</div>
