<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>

<div [hidden]="processing">

  <div *ngIf="currentAction == 'list'">
    <div fxLayout=" column" fxLayout.gt-sm="row wrap">
      <div fxFlex="100" class="flex-p">
        <!-- <mat-card> -->
        <mat-card-content>
          <div>
            <mat-tab-group [selectedIndex]="tabSeleccionado.value" (selectedIndexChange)="seleccionarGrid($event)">
              <mat-tab *ngIf="condicion" label="PKs">
                <sigma-grid-mantenimientos #grid [data]="data" [condicion]="condicion" [columns]="columns"
                  [filters]="filters" [singleActions]="acciones" (executeOnSingle)="ejecutar($event)"
                  [defaultFilters]="defaulFilters">
                </sigma-grid-mantenimientos>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-card-content>
        <!-- </mat-card> -->
      </div>
    </div>
  </div>

  <div *ngIf="currentAction == 'adicionar'">
    <app-actas-vecindad-create (onBackInit)="onBack()"></app-actas-vecindad-create>
  </div>
  
  <div *ngIf="currentAction == 'listar'">
    <app-actas-vecindad-list (onBackInit)="onBack()"></app-actas-vecindad-list>
  </div>

</div>