<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle><h2>{{ constants.crear }} Tipo falla</h2></mat-card-subtitle>
      </mat-card-header>

      <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="start">
          <h5>{{ constants.informacionCampoObligatorio }}</h5>
      </div>

      <mat-card-content class="p-16 m-0" [hidden]="submitted" [formGroup]="form" 
      *sigmaIsGranted="constants.permiso_administracion_tipofalla_create">
        
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div class="item" fxFlex="50%">
            <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
              <sigma-general-list
                [path]="constants.path_administracion_tipofalla_tipoSuperficieId" etiqueta="{{ constants.tipoSuperficieId }}" [listBy]="'valor'"
                (optionIdSelected)="setTipoSuperficieTipofalla($event)"
                [responseType]="constants.objeto"
                required="true">
              </sigma-general-list>
              <input matInput  type="text" placeholder="" formControlName="tipoSuperficieId" [(ngModel)]="tipofalla.tipoSuperficie" autocomplete="off" hidden>
              <mat-error *ngIf="enviada && form.get('tipoSuperficieId').hasError('required')"> {{ constants.campoRequerido }} </mat-error>
            </div>
          </div>
          <div class="item" fxFlex="50%">
              <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
                <mat-form-field class="w-100">
                  <input matInput placeholder="{{ constants.descripcion }}" formControlName="descripcion" 
                  [(ngModel)]="tipofalla.descripcion" autocomplete="off" type="text" 
                  required pattern="^(?!\s*$).+">
                  <mat-error *ngIf="form.get('descripcion').hasError('required')"> {{ constants.campoRequerido }} </mat-error>
                  <mat-error *ngIf="form.get('descripcion').hasError('pattern')"> {{ constants.campoNoVacio }} </mat-error>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div class="item" fxFlex="50%">
            <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
              <mat-form-field class="w-100">
                <input matInput placeholder="{{ constants.valor }}" formControlName="valor" 
                [(ngModel)]="tipofalla.valor" autocomplete="off" type="number" 
                pattern="^(?!\s*$).+" numericInput="true" max="9007199254740991" required>
                <mat-error *ngIf="form.get('valor').hasError('required')"> {{ constants.campoRequerido }} </mat-error>
                <mat-error *ngIf="form.get('valor').hasError('pattern')"> {{ constants.campoNoVacio }} </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="end" class="flex-p">
        <button fxFlex.lt-sm="100" class="m-1" type="button" (click)="onBack()" mat-button color="warn">
          <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
        </button>
        <button fxFlex.lt-sm="100" class="m-1" type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="disabledBtn_Login"
          *sigmaIsGranted="constants.permiso_administracion_tipofalla_create">
            <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
        </button>
      </div>


    </mat-card>
  </div>
</div>
