<h2 mat-dialog-title>Eliminar Menú</h2>

<h3 mat-dialog-title>¿Desea eliminar el Menú?</h3>

<mat-dialog-content [formGroup]="form">
  <input type="hidden" formControlName="id">
</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end" fxLayout="row" fxLayout.lt-sm="column">
  <button class="mb-10 w-100" fxFlex mat-button color="warn" (click)="close()" [disabled]=disabledButton>
    <mat-icon class="m-1">close</mat-icon> No
  </button>
  <button class="mb-10 w-100" fxFlex mat-raised-button color="primary" (click)="save()" [disabled]=disabledButton >
    <mat-icon class="m-1">check_circle_outline</mat-icon> Si
  </button>

</mat-dialog-actions>