<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>{{ constants.crear }} {{ constants.titulo }}</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayoutAlign="start" fxFlex>
          <button mat-stroked-button color="primary" class="m-1 mb-10" (click)="onBack()">
            <mat-icon>arrow_back_ios</mat-icon>
            {{ constants.atras }}
          </button>
        </div>
      </div>

      <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="start">
        <h5>{{ constants.informacionCampoObligatorio }}</h5>
      </div>

      <mat-card-content class="p-16 m-0" [hidden]="submitted" [formGroup]="form"
        *sigmaIsGranted="constants.permiso_produccion_insumo_existencia_create">

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div fxFlex="50%">
            <sigma-form-calendar formControlName="fechaInicial" [(ngModel)]="registro.fechaInicial" [objeto]="registro"
              [maxTarget]="'fecha'" [maxTarget]="'fechaFinal'" [placeholder]="constants.fechaInicial"
              [type]="constants.datepicker.types.calendar">
            </sigma-form-calendar>
          </div>
          <div fxFlex="50%">
            <sigma-form-calendar formControlName="fechaFinal" [(ngModel)]="registro.fechaFinal" [objeto]="registro"
              [maxTarget]="'fecha'" [minTarget]="'fechaInicial'" [placeholder]="constants.fechaFinal"
              [type]="constants.datepicker.types.calendar">
            </sigma-form-calendar>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex="60">
              <sigma-form-select [path]="constants.path_produccion_insumo_existencia_insumoId"
                [(ngModel)]="registro.insumo" formControlName="insumo" listBy="nombre"
                placeholder="{{ constants.insumo }}" (ngModelChange)="changeTipoMezcla($event)">
              </sigma-form-select>
            </div>
            <div fxFlex>
              <mat-form-field class="w-100">
                <input matInput [placeholder]="constants.unidadMedida" formControlName="unidadMedida" [ngModel]="registro.insumo.unidadMedida ? 
                registro.insumo.unidadMedida.descripcion : ''" readonly>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field class="w-100">
                <input matInput [placeholder]="constants.codigoInsumo" formControlName="codigoInsumo" 
                [ngModel]="registro.insumo ? registro.insumo.codigo : ''" readonly>
              </mat-form-field>

            </div>
          </div>

          <div fxFlex [hidden]="hiddenTipoMezcla">
            <sigma-form-select [path]="constants.path_lista_tipo_mezcla"
              [(ngModel)]="registro.tipoMezcla" formControlName="tipoMezcla" listBy="descripcion"
              placeholder="{{ constants.tipoMezcla }}">
            </sigma-form-select>
          </div>

          <div fxFlex>
            <sigma-form-select [path]="constants.path_produccion_insumo_existencia_contratoId"
              [(ngModel)]="registro.contrato" formControlName="contrato" listBy="numeroContrato"
              placeholder="{{ constants.contrato }}">
            </sigma-form-select>
          </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
          <div fxFlex>
            <sigma-form-number formControlName="inventarioInicial" [ngModel]="registro.inventarioInicial"
              [numericInput]="true" (ngModelChange)="setInventarioInicial($event)"
              [placeholder]="constants.inventarioInicial">
            </sigma-form-number>
          </div>
          <div fxFlex>
            <sigma-form-number formControlName="cantidadEntrada" [ngModel]="registro.cantidadEntrada"
              [numericInput]="true" (ngModelChange)="setCantidadEntrada($event)"
              [placeholder]="constants.cantidadEntrada">
            </sigma-form-number>
          </div>

          <div fxFlex>
            <sigma-form-number formControlName="cantidadSalida" [ngModel]="registro.cantidadSalida"
              (ngModelChange)="setCantidadSalida($event)" [placeholder]="constants.cantidadSalida">
            </sigma-form-number>
          </div>
          <div fxFlex>
            <sigma-form-number formControlName="inventarioFinal" [ngModel]="registro.inventarioFinal" [readonly]="true"
              [placeholder]="constants.inventarioFinal">
            </sigma-form-number>
          </div>
        </div>

      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button type="button" (click)="onBack()" mat-button color="warn" class="m-1">
          <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
        </button>
        <button type="button" class="m-1" mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="disabledBtn_Login" *sigmaIsGranted="constants.permiso_produccion_insumo_existencia_create">
          <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
        </button>
      </div>
    </mat-card>
  </div>
</div>