<mat-sidenav-container id="app">
    <div fxLayout="row"  fxLayoutAlign="center center" class="h-100">
         <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <div *ngIf="validacion" fxLayout="column" fxLayoutAlign="center center" >   
                <mat-spinner [diameter]="50" color="primary"></mat-spinner>    
            </div>
                <mat-card class="p-0 mat-elevation-z24 box">
                    <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                        <img class="m-10 logo-sigma" alt="logo-sigma" src="../../../assets/img/app/logo_sigma.png">
                    </div>
                    <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                            <span class="box-content-header">USUARIO AUTORIZADO</span>  
                            <mat-form-field class="w-100">
                                <input required matTooltip="Nombre de usuario para acceder a la plataforma" matTooltipPosition="above" 
                                matInput placeholder="Usuario" formControlName="username"
                                autocomplete="username">
                                <mat-error *ngIf="form.controls.username.errors?.required">EL usuario es necesario.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-100">
                                <input required matTooltip="Clave alfanumérica que se usa para validar el usuario" matTooltipPosition="above"
                                 matInput [type]="hide ? 'password' : 'text'" placeholder="Clave" formControlName="password"
                                 autocomplete="password">
                                <mat-icon matSuffix (click)="hide = !hide" class="hover-element-pointer" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="form.controls.password.errors?.required">La contraseña es necesaria.</mat-error>
                            </mat-form-field>
                            <a href="{{ appSettings.settings.restorePasswordURL }}" target="_blank" class="w-100 btn-olvido-clave" ng-if="checkCookies() == 'show popup'" ng-click="openArticle(article)">
                                Olvidó clave?
                            </a>
                            <br/>
                            
                        </mat-card>                        
                        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" [disabled]="disabledBtn_Login" type="submit">INGRESAR</button>
                    </mat-card-content>
                    <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="center">
                        <h5 color="warn" >Todos los campos con * son obligatorios</h5>
                    </div>
                </mat-card>
          </form>
    </div>
  
  </mat-sidenav-container>