<div *sigmaIsGranted="constants.permiso_administracion_mantenimiento_create">
  <h2 mat-dialog-title>{{ constants.agregarMantenimiento }} PK</h2>

  <div class="msj_obligatorio mb-10" fxLayout="row" fxLayoutAlign="start">
    <h5>Escriba el codigo del PK en el autocomplete</h5>
  </div>

  <mat-dialog-content [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <app-sigma-autocomplete class="w-100" [label]="'Autocomplete Mantenimientos'" [labelparametro1]="'PK'"
          (selectItem)="itemSeleccionado($event)" [path]="constants.path_administracion_mantenimiento" [searchBy]="'pk'"
          [value]="''">
        </app-sigma-autocomplete>
      </div>
      <div fxFlex>
        <sigma-form-select [path]="constants.path_administracion_grupo_disponibilidad" formControlName="estadoRegistro"
          [(ngModel)]="newMantAdd.grupoEstadoRegistro" placeholder="{{ constants.estadoRegistro }}">
        </sigma-form-select>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <sigma-form-textarea formControlName="observacion" [(ngModel)]="newMantAdd.grupoObservaciones"
          placeholder="Observación" [rows]="5">
        </sigma-form-textarea>
      </div>
    </div>
  </mat-dialog-content>

  <mat-divider></mat-divider>

  <mat-dialog-actions align="end">
    <button type="button" (click)="close()" mat-button color="warn" class="m-1">
      <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
    </button>
    <button type="button" [disabled]="disableSubmit" class="m-1" mat-raised-button color="primary" (click)="save()"
      *sigmaIsGranted="constants.permiso_administracion_mantenimiento_create">
      <mat-icon class="m-1">add_circle_outline</mat-icon> {{ constants.agregarMantenimiento }}
    </button>
  </mat-dialog-actions>
</div>