<h2 mat-dialog-title>Editar Lista</h2>

<mat-dialog-content class="mb-20" [formGroup]="form">
    <div class="w-100 mb-10">
        <input type="hidden" formControlName="id" [(ngModel)]="lista.id">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
                <mat-checkbox formControlName="activo" [(ngModel)]="lista.activo">{{ constants.activo }}</mat-checkbox>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
                <mat-checkbox disabled formControlName="deSistema" [(ngModel)]="lista.deSistema">{{ constants.deSistema }}</mat-checkbox>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex>
                <mat-form-field class="w-100">
                    <input matInput placeholder="Nombre" formControlName="nombre" [(ngModel)]="lista.nombre" required>
                    <mat-error *ngIf="form.get('nombre').hasError('required')"> {{ constants.campoNoVacio }}
                    </mat-error>
                    <mat-error *ngIf="form.get('nombre').hasError('maxlength')"> {{ constants.error.longitud100 }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="w-100">
                    <textarea matInput placeholder="Descripción" rows="1" [(ngModel)]="lista.descripcion"
                        formControlName="descripcion" required></textarea>
                    <mat-error *ngIf="form.get('descripcion').hasError('required')"> 
                        {{ constants.campoNoVacio }}
                    </mat-error>
                    <mat-error *ngIf="form.get('descripcion').hasError('maxlength')">
                         {{ constants.error.longitud100 }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
            <div fxFlex fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="createItem()">
                    <mat-icon class="m-1">note_add</mat-icon> {{ constants.crearNuevo }}
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column">
        <div *ngIf="lista.items.length <= 0" class="msj_no_results" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="m-1">sms_failed</mat-icon>
            <h4> {{ constants.errorMessage }}</h4>
        </div>

        <div class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.valor }} </mat-header-cell>
                    <mat-cell *matCellDef="let listasItems" [attr.data-label]="constants.valor"> {{listasItems.valor}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ constants.descripcion }} </mat-header-cell>
                    <mat-cell *matCellDef="let listasItems" [attr.data-label]="constants.descripcion"> {{ listasItems.descripcion }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header > {{ constants.activo }} </mat-header-cell>
                    <mat-cell *matCellDef="let listasItems" [attr.data-label]="constants.activo">
                        <span class="dev-color-red" [hidden]="listasItems.activo">{{ constants.no }}</span>
                        <span class="dev-color-green" [hidden]="!listasItems.activo">{{ constants.si }}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef> {{ constants.acciones }} </mat-header-cell>
                    <mat-cell *matCellDef="let listasItems; let key = index" [attr.data-label]="constants.acciones">
                        <button mat-raised-button (click)="detailItem(listasItems)" class="m-1" color="primary">
                            <mat-icon matTooltip="Detalle" matTooltipPosition="above">open_in_new</mat-icon>
                        </button>
                        <button mat-raised-button (click)="editItem(dataSource.filteredData.indexOf(listasItems), listasItems)" class="m-1" color="primary">
                            <mat-icon matTooltip="Editar" matTooltipPosition="above">edit</mat-icon>
                        </button>
                        <button [disabled]="listasItems.activo === false" mat-raised-button (click)="deleteItem(dataSource.filteredData.indexOf(listasItems), listasItems)" class="m-1" color="warn">
                            <mat-icon matTooltip="Eliminar" matTooltipPosition="above">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [length]="dataSource?.filteredData.length" [pageSize]="criteria.size"
                [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
        </div>
    </div>

</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end" class="flex-p">
    <button mat-button color="warn" (click)="close()" class="m-1">
        <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="disabledBtn_Login" class="m-1">
        <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
    </button>
</mat-dialog-actions>