<div fxLayout="column" *sigmaIsGranted="constants.mejoramiento_prediseino_create">
  <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="start">
    <h5>{{ constants.informacionCampoObligatorio }}</h5>
  </div>

  <mat-card-content class="flex-p m-0" [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column" class="mt-10 mb-20">
      <div fxLayoutAlign="start" fxFlex>
        <button mat-stroked-button color="primary" (click)="onBack()">
          <mat-icon class="m-1">arrow_back_ios</mat-icon>
          {{ constants.irAtras }}
        </button>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <div fxFlex="100" fxLayout.xs="column" fxLayout.sm="column">
          <mat-form-field class="w-100">
            <mat-select (ngModelChange)="viewStatus($event)" [placeholder]="constants.apiques" [(ngModel)]="predisenio.requiereApique"
              formControlName="apiques">
              <mat-option>Seleccione</mat-option>
              <mat-option *ngFor="let item of optionsList" [value]="item.value"> {{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <input type="hidden" formControlName="ubicarAction" [(ngModel)]="ubicarAction" required>
          <mat-error *ngIf="form.get('ubicarAction').hasError('required') && !disabledApique"> Debe ubicar un apique
          </mat-error>
        </div>
      </div>
      <div fxFlex>
        <div class="w-100">
          <button type="button" (click)="ubicarApique()" [disabled]="disabledApique" mat-raised-button color="primary"
            class="m-1">
            <mat-icon class="m-1">room</mat-icon> {{ constants.ubicarApique }}
          </button>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <mat-form-field class="w-100">
          <mat-select [(ngModel)]="predisenio.requiereAforo" [placeholder]="constants.aforos" formControlName="aforos">
            <mat-option>Seleccione</mat-option>
            <mat-option *ngFor="let item of optionsList" [value]="item.value"> {{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="w-100">
          <mat-select [(ngModel)]="predisenio.solicitudesAdicionales" [placeholder]="constants.solicitud" formControlName="solicitud">
            <mat-option>Seleccione</mat-option>
            <mat-option *ngFor="let item of options" [value]="item.value"> {{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <mat-form-field class="w-100">
          <textarea matInput [(ngModel)]="predisenio.observacionSolicitud" rows="5" [placeholder]="constants.observacionSolicitud"
            formControlName="observacionSolicitud"></textarea>
          <mat-error *ngIf="form.get('observacionSolicitud').hasError('maxlength')">
            {{ constants.longitud_maxima }}
            300
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex="50">
        <mat-form-field class="w-100">
          <mat-select [(ngModel)]="predisenio.esViableIntervencion" [placeholder]="constants.viableIntervencion" formControlName="viableIntervencion">
            <mat-option>Seleccione</mat-option>
            <mat-option *ngFor="let item of options" [value]="item.value"> {{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <mat-form-field class="w-100">
          <textarea matInput [(ngModel)]="predisenio.observacionIntervencion" rows="5" [placeholder]="constants.observacionIntervencion"
            formControlName="observacionIntervencion"></textarea>
          <mat-error *ngIf="form.get('observacionIntervencion').hasError('maxlength')">
            {{ constants.longitud_maxima }}
            300
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
      <div fxFlex>
        <mat-form-field class="w-100">
          <textarea matInput [(ngModel)]="predisenio.observacionGestion" rows="5" [placeholder]="constants.observacionGestion"
            formControlName="observacionGestion"></textarea>
          <mat-error *ngIf="form.get('observacionGestion').hasError('maxlength')"> {{ constants.longitud_maxima }}
            300
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="superficieAgrupacion" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">

      <div fxFlex="50%">
        <div fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
          <mat-form-field class="w-100">
            <mat-select placeholder="{{ constants.levantamientoTopografico }}" formControlName="requeridoId"
            required="true"  [(ngModel)]="predisenio.levantamientoTopografico" formControlName="levantamientoTopografico">
              <mat-option *ngFor="let item of optionsSi" [value]="item.value"> {{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="50%">
        <div fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
          <mat-form-field class="w-100">
            <mat-select placeholder="{{ constants.modulacionLosas }}" [(ngModel)]="predisenio.modulacionLosas" formControlName="requeridoId"
            required="true" formControlName="modulacionLosas">
              <mat-option *ngFor="let item of optionsSi" [value]="item.value"> {{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>

  </mat-card-content>

  <div fxLayout="row" fxLayoutAlign="end">
    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

    <div class="pt-16">
      <button type="button" (click)="onBack()" mat-button color="warn" class="m-1">
        <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
      </button>
      <button type="button" [disabled]="enviada" class="m-1" mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
      </button>
    </div>
  </div>
</div>