<div fxLayout="column" *sigmaIsGranted="constants.permisos_administracion_listas_create">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>{{ constants.crear }} {{ constants.lista }}</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <div class="msj_obligatorio" fxLayout="row" fxLayoutAlign="start">
        <h5>{{ constants.informacionCampoObligatorio }}</h5>
      </div>

      <mat-card-content class="p-16 m-0" [formGroup]="form">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">

          <div class="item" fxFlex="100%" f xLayout.xs="column" fxLayout.sm="column">
            <mat-form-field class="w-100">
              <input matInput placeholder="Nombre" [(ngModel)]="lista.nombre" required formControlName="nombre">
              <mat-error *ngIf="form.get('nombre').hasError('required')"> {{ constants.campoNoVacio }} </mat-error>
              <mat-error *ngIf="form.get('nombre').hasError('maxlength')"> {{ constants.error.longitud100}}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
            <mat-form-field class="w-100">
              <textarea matInput placeholder="Descripción" rows="1" [(ngModel)]="lista.descripcion" required
                formControlName="descripcion"></textarea>
              <mat-error *ngIf="form.get('descripcion').hasError('required')"> {{ constants.campoNoVacio }} </mat-error>
              <mat-error *ngIf="form.get('descripcion').hasError('maxlength')"> {{ constants.error.longitud100 }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button mat-button class="m-1" color="warn" (click)="onBack()">
          <mat-icon class="m-1">close</mat-icon> {{constants.cancelar}}
        </button>
        <button mat-raised-button class="m-1" color="primary" (click)="onSubmit()" [disabled]="disabledBtn_Login">
          <mat-icon class="m-1">save</mat-icon> {{constants.guardar}}
        </button>
      </div>

    </mat-card>
  </div>
</div>