<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>

<div [hidden]="processing">
  <div [hidden]="currentAction !== 'list'">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100" class="flex-p">
        <mat-tab-group [selectedIndex]="tabSeleccionado.value" (selectedIndexChange)="seleccionarGrid($event)"
          *ngIf="condicion">
          <mat-tab label="PK sin gestión">
            <sigma-grid-mantenimientos #grid [data]="data" [columns]="columnsPkSinGestion"
              [filters]="filtersPkSinGestion" [condicion]="condicion" (executeOnSingle)="ejecutar($event)"
              [singleActions]="accionesPkSinGestion" [showActividadAgrupada]="false">
            </sigma-grid-mantenimientos>
          </mat-tab>
          <mat-tab *ngFor="let transicion of transicionesMasivas" label="{{transicion.nombre}}">
            <sigma-grid-mantenimientos #grid [data]="data" [transicion]="transicion" [columns]="columnsTransiciones"
              [filters]="filtersTransiciones" [tipoGrid]="'Todos'" [singleActions]="accionesTransiciones"
              (executeOnSingle)="ejecutar($event)" (executeOnMasiveTransition)="executeMasiveTransition($event)"
              [showActividadAgrupada]="false" [showCheckMasive]="true">
            </sigma-grid-mantenimientos>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div *ngIf="currentAction == 'vincular'">
    <mat-card-content class="m-0">

      <div class="mb-10" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
        fxLayoutAlign="left">

        <!-- #BeginSeccion 1 -->
        <div fxFlex="50">
          <mat-card class="custom-card" [formGroup]="formularioConsultaPK">
            <mat-card-header class="p-1" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0">
                <h5>Información de PK</h5>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-16">
              <div fxLayout="column">
                <div fxFlex="100">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Pk" formControlName="pk" [ngModel]="data.mantenimiento.pk"
                          readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="CIV" formControlName="civ" [ngModel]="data.mantenimiento.civ"
                          readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Ancho de Calzada" formControlName="calzadaAncho"
                          [ngModel]="data.mantenimiento.ancho" readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Área de Calzada" formControlName="calzadaArea"
                          [ngModel]="data.mantenimiento.area" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Localidad" formControlName="localidadNombre"
                          [ngModel]="data.mantenimiento.localidad ?data.mantenimiento.localidad.nombre:''" readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Barrio" formControlName="barrioNombre"
                          [ngModel]="data.mantenimiento.barrio?data.mantenimiento.barrio.nombre: ''" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Eje Vial" formControlName="ejeVial"
                          [ngModel]="data.mantenimiento.ejeVial" readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="malla" formControlName="malla"
                          [ngModel]="data.mantenimiento.tipoMalla?data.mantenimiento.tipoMalla.descripcion:''" readonly>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Upz" formControlName="upla"
                          [ngModel]="data.mantenimiento.upla?data.mantenimiento.upla.nombre: ''" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <!-- #BeginSeccion 2 -->
        <div fxFlex="50">
          <mat-card class="custom-card" [formGroup]="formularioConsultaRadicadoEntrada">
            <mat-card-header class="p-1" color="primary" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0">
                <h5>Información radicado</h5>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-16">
              <div fxLayout="column">
                <div fxFlex="100">
                  <div class="w-100" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0">
                    <div fxFlex="70" fxFlex.lg="60" fxFlex.md="100">
                      <sigma-form-number placeholder="Radicado de entrada"
                        formControlName="entradaConsultaRadicadoEntrada" [(ngModel)]="entradaConsultaRadicadoEntrada"
                        [maxlength]=20></sigma-form-number>
                    </div>
                    <div fxFlex="30" fxFlex.lg="40" fxFlex.md="100">
                      <button mat-raised-button color="primary" (click)="buscarRadicado()">
                        <mat-icon class="m-1">search</mat-icon>
                        Buscar Radicado
                      </button>
                    </div>
                  </div>
                </div>

                <div fxFlex="100">
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Radicado de entrada" formControlName="solicitudRadicadoEntrada"
                          [ngModel]="data.mantenimiento.solicitudRadicadoEntrada" readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Fecha Radicacion" formControlName="fechaRadicacion"
                          [ngModel]="data.mantenimiento.solicitudFecha" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Fecha Vencimiento" formControlName="fechaVencimiento"
                          [ngModel]="data.mantenimiento.solicitudVencimiento" readonly>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Remitente" formControlName="remitente"
                          [ngModel]="data.mantenimiento.solicitudRemitente" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
                    <div fxFlex="50">
                      <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Entidad" formControlName="dependenciaAsignada"
                            [ngModel]="data.mantenimiento.solicitudDependenciaAsignada" readonly>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>

    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
    <div fxLayout="row" fxLayoutAlign="end center" class="flex-p">
      <button class="m-1" mat-button color="warn" (click)="cancel()">
        <mat-icon class="m-1">close</mat-icon>
        Cancelar
      </button>
      <button class="m-1" [disabled]="processing || !data.mantenimiento.solicitudRadicadoEntrada" mat-raised-button
        color="primary" (click)="asignarOrigenGardar()">
        <mat-icon class="m-1">save</mat-icon>
        Guardar
      </button>
    </div>
  </div>

</div>