<div class="flex-p">
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-subtitle>
        <h2>Actas de vecindad</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" color="primary"></mat-spinner>
    </div>

    <div [hidden]="processing">
      <div *ngIf="currentAction == 'list'">
        <div fxLayout="row" fxLayout.lt-md="column">
          <div fxFlex="100" class="flex-p">
            <div>
              <mat-tab-group [selectedIndex]="tabSeleccionado.value" (selectedIndexChange)="seleccionarGrid($event)">
              <mat-tab  *ngIf="condicion" label="PKs">
                <sigma-grid-mantenimientos #grid [data]="data" [condicion]="condicion" [columns]="columns" 
                  [filters]="filters" [singleActions]="acciones" (executeOnSingle)="ejecutar($event)"
                  [defaultFilters]="defaulFilters" >
                </sigma-grid-mantenimientos>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      </div>
    </div>
  </mat-card>
</div>