<div *ngIf="processing" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner [diameter]="50" color="primary"></mat-spinner>
</div>

<div [hidden]="processing">
  <div *ngIf="currentAction == 'list'">

    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="100" class="flex-p">
        <mat-tab-group [selectedIndex]="tabSeleccionado.value" (selectedIndexChange)="seleccionarGrid($event)">
          <mat-tab *ngIf="condicion" label="Actualizar diseño">
            <sigma-grid-mantenimientos #grid [data]="data"  [condicion]="condicion"
              [columns]="columns" [filters]="filters" [singleActions]="actions" (executeOnSingle)="ejecutar($event)">
            </sigma-grid-mantenimientos>
          </mat-tab>
          <mat-tab *ngFor="let transicion of transicionesMasivas" label="{{transicion.nombre}}" >
            <sigma-grid-mantenimientos #grid [data]="data" [transicion]="transicion"
              [columns]="columns" [filters]="filters" [singleActions]="actions" (executeOnSingle)="ejecutar($event)"
              (executeOnMasiveTransition)="executeMasiveTransition($event)">
            </sigma-grid-mantenimientos>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

  <div *ngIf="currentAction=='work'">
    <sigma-disenio-edit  [(disenio)]="mantenimiento.disenio" [mantenimiento]="mantenimiento"
      (saveFuncion)="saveFunction($event)" (back)="back($event)"></sigma-disenio-edit>
    <sigma-seleccion-transicion [(data)]="data" [transiciones]="transicionesIndividuales"
      (executeTransition)="executeTransition()"></sigma-seleccion-transicion>
  </div>

</div>