<h2 mat-dialog-title>{{ constants.titleEquipoFallaMotivo }}</h2>
<mat-dialog-content [formGroup]="form">
  <h2 class="mat-h3">{{ constants.bodyEquipoFallaMotivo }}</h2>

  <mat-form-field class="w-100">
    <div class="item" fxFlex="100%" fxLayout.xs="column" fxLayout.sm="column">
      <input matInput type="text" [numericInput]="false" [required]="true" ngModel="motivoCancelacion"
        placeholder="{{constants.bodyEquipoFallaMotivo}}" formControlName="motivoCancelacion" [(ngModel)]="motivoCancelacion"
        autocomplete="off" required="true">
        <mat-error *ngIf="form.get('motivoCancelacion').hasError('required')">
          {{ constants.campoRequerido }}
        </mat-error>
        <mat-error *ngIf="form.get('motivoCancelacion').hasError('maxlength')"> {{ constants.longitud_maxima }} 140
          caracteres. </mat-error>
    </div>
  </mat-form-field>

</mat-dialog-content>
<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon> {{ constants.cancelar }}
  </button>
  <button mat-raised-button color="primary" (click)="save()" [disabled] = "disabledButton">
    <mat-icon class="m-1">save</mat-icon> {{ constants.guardar }}
  </button>
</mat-dialog-actions>