<h2 mat-dialog-title>Gestionar priorización solicitudes apiques</h2>

<div class="msj_obligatorio mb-10" fxLayout="row" fxLayoutAlign="start">
  <h5>{{ constants.informacionCampoObligatorio }}</h5>
</div>

<mat-dialog-content [formGroup]="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0">
    <div fxFlex>
      <sigma-form-input formControlName="prioritarios" 
      [(ngModel)]="mantenimiento.predisenio.apiques[0].prioritarios" 
      [placeholder]="constants.prioritarios">
      </sigma-form-input>
    </div>
  </div>
  
</mat-dialog-content>

<mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="close()">
    <mat-icon class="m-1">close</mat-icon> Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    <mat-icon class="m-1">save</mat-icon> Guardar
  </button>
</mat-dialog-actions>